.item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8%;
    /* border: solid; */
    /* border-radius: 20px; */
    /* margin-left: 2%; */
    /* margin-right: 4%; */
    /* background-color: #e3e5e5; */
    margin-top: 1%;
    border-left: solid;
    border-width: 5px ;
    border-color: #979797;
}

.item:hover{
    background-color: #d1d3d3;
}

.profile{
    /* border: solid; */
    border-radius: 50px;
}

.usernamebox{

    
}